# Allows to ignore .git folder in Volley tree.
.git/

.gitignore~

# Server #
##########

# Play generated artifacts
logs
project/project
project/target
target
tmp
dist
.cache
.sbtserver*

# Idea project files
.idea/
